.ghIcon {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(-45deg) translate(30px, -20px);
}

.buttonRoot {
    color: black;
    background-color: var(--mantine-color-white);
    padding: 4px 10px 4px 4px;
    height: 100px;

    &:hover {
        background-color: var(--mantine-color-text);
    }
}

.buttonLabel {
    transform: rotate(45deg);
}
