.header {
    display: none;

    @mixin smaller-than $mantine-breakpoint-sm {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 5px;
        background-color: var(--mantine-color-dark-8);
        z-index: 99999;
        height: var(--navbar-height);
    }
}
