.reader {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 95vh;
    width: 800px;
    padding: var(--mantine-spacing-lg);
    padding-right: 0;
    border-top-left-radius: var(--mantine-radius-md);
    border-bottom-left-radius: var(--mantine-radius-md);
    text-align: justify;
    background-color: alpha(var(--mantine-color-dark-8), 0.95);

    &[data-is-open="false"] {
        top: 100%;
        left: 100%;
    }
}

.content {
    padding-right: var(--mantine-spacing-lg);
}

.closeButton {
    position: absolute;
    z-index: 1;
    padding: 5px;
    right: 8px;
    top: 8px;
}
