.reader {
    text-align: justify;
    background-color: alpha(var(--mantine-color-dark-9), 0.97);
    z-index: 9;
    min-height: 100vh;

    @mixin smaller-than $mantine-breakpoint-xl {
        &[data-opened="false"] {
            display: none;
        }
    }

    @mixin smaller-than $mantine-breakpoint-md {
        top: 0;
        left: 0;
        transform: none;
        padding-top: var(--navbar-height);
        width: 100vw;
        position: absolute;
    }
}

.content {
    padding: var(--mantine-spacing-lg);
    --width: 720px;
    max-width: var(--width);
    width: var(--width);

    @mixin smaller-than $mantine-breakpoint-md {
        padding: var(--mantine-spacing-sm);
        width: 100vw;
        margin: auto;
    }
}

.showButton {
    position: fixed;
    bottom: var(--mantine-spacing-xs);
    width: 100vw;
    border-radius: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    height: 36px;

    @mixin larger-than $mantine-breakpoint-xl {
        display: none;
    }
}
