.container {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100vh;
    width: 250px;
    background-color: alpha(var(--mantine-color-dark-8), 0.97);
    padding: var(--mantine-spacing-xs);
    overflow: hidden;
    z-index: 9999999;

    @mixin smaller-than $mantine-breakpoint-xl {
        top: 0;
        transform: none;
        width: 100vw;
        transition: transform 200ms ease;
        border-radius: 0;
        background-color: var(--mantine-color-dark-8);

        height: calc(100vh - var(--navbar-height));
        margin-top: var(--navbar-height);

        &[data-opened="false"] {
            transform: translateX(-100%);
        }
    }
}

.logoBox {
    font-weight: bold;
    font-size: 2.2rem;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.footer {
    text-align: center;
    font-size: var(--mantine-font-size-sm);
}

.divider {
}