.buttonRoot {
    color: var(--mantine-color-white);
    box-shadow: 0 0 40px -8px alpha(var(--mantine-primary-color-filled), 0.4);
    font-size: 0.825rem;
    padding: 5 4px;
    height: auto;
    width: auto;

    &[data-disabled] {
        cursor: default;
        box-shadow: none;
    }

    &[data-active="true"] {
        border: 2px solid var(--mantine-color-orange-3);
    }
}

.node {
    font-size: 0.95rem;
    display: inline-block;
    background-color: red;
    padding: 0px 2px;
    position: relative;
    border-radius: var(--mantine-radius-md);
    color: var(--mantine-color-white);
    font-weight: bold;
    border: 2px solid transparent;
    background-color: var(--mantine-primary-color-light);

    &:hover {
        background-color: var(--mantine-primary-color-light-hover);
    }

    &[data-selected="true"] {
        border: 2px solid var(--mantine-color-orange-3);
    }

    &[data-disabled="true"] {
        cursor: default;
        background-color: var(--mantine-color-dark-6);
        box-shadow: none;
    }
}

.nodeContent {
    writing-mode: vertical-rl;
    display: inline-block;
    width: calc(22px * var(--lines));
    padding-top: 7.5px; /* Left padding weird bug prevention */
}

.subLabel {
    font-size: 0.9em;
    font-weight: normal;
}


.link {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: var(--mantine-radius-md);
}
