.content {
    position: sticky;
    top: 0;
    flex: 1;
    height: 100vh;

    @mixin smaller-than $mantine-breakpoint-xl {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9;
    }
}

.dragArea {
    width: 100% !important;
    height: 100% !important;
}

.draggable {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: grab;
}

/*
    =================== TREE STRUCTURE =================

    Original code:
        https://codepen.io/navin_sh/pen/mdbLebg
*/

.tree {
    position: absolute;
    min-width: max-content;
    width: max-content;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.scaleBox {
    @mixin smaller-than $mantine-breakpoint-xl {
        transform: scale(0.8);
    }
}

.tree ul:first-child {
}

.tree ul,
.tree li {
    display: block;
    margin: 0;
    padding: 0;
}

.tree ul {
    padding-top: 20px;
    position: relative;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}

/* Use pseudo-elements to draw the connectors */
.tree li::before,
.tree li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}
.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

/* Remove left-right connectors from elements without any siblings */
.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

/* Remove space from the top of single children */
.tree li:only-child {
    padding-top: 0;
}

/* Remove left connector from first child and  right connector from last child */
.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}

/* Add back the vertical connector to the last nodes */
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/* Add downward connectors from parents */
.tree ul ul::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}
